#cloud-config
disable_root: true
timezone: Europe/Moscow
users:
  - name: ${admin_user}
    groups: sudo
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh-authorized-keys:
      - ${ssh_public_key}
